  footer{
     display: flex;
     justify-content:flex-end; 
     align-items: center; 
     padding-top: 4rem;
 } 
  section{
    display: flex;
    justify-content:space-between; 
    align-items: center; 
    padding-top: 4rem;
} 
.apec{
margin-right: 2rem;
}
.link{
    margin-right: 2rem;
  
} 