
   <h1><a href=""> Portfolio </a></h1>

    <section>
        <article class="projects">
            <h2>Site de présentation</h2>
            <img src="/assets/images/image-projet.jpg" alt="">
            <div class="overlay">
                <a href="https://ficheprofilsoniamokaddemlamine.herokuapp.com/" class="icon" target="blank">
                    <i class="fa fa-search"></i>               
                 </a>
            </div>
            
        </article>
 <article class="projects">
    <h2>Blog</h2>
    <img src="/assets/images/image-projet.jpg" alt="">

    <div class="overlay">
        <a href="https://github.com/soniamok/projet-symfony" class="icon" target="blank">
            <i class="fa fa-search"></i>
        </a>
    </div>
</article>
<article class="projects">
    <h2>E-commerce</h2>
    <img src="/assets/images/image-projet.jpg" alt=""> 
    <div class="overlay">
        <a href="#" class="icon" title="http://...">
            <i class="fa fa-search"></i>
        </a>
    </div>
</article>
</section>
<section class="contact">
        <p> contact</p>
        <p>e-mail: soniamokaddem88@gmail.com</p>
</section>

